#container {
    margin-right: 0;
    padding-right: 0;
}

#logo {
    margin-top: 20px;
    width: 130px;
}

#topLinks {
    margin-top: 30px;
    align-items: center;
}


#topLinks p {
    color: #A8A5A4;
    list-style: none;
    text-decoration: none;
    display: block;
    font-size: 15px;
    margin-top: 20px;
}

#topLinks p:hover {
    color: white;
}

.playlist-container {
    max-height: calc(100vh - 240px);
    overflow-y: auto; 
}

.playlist-container::-webkit-scrollbar {
    width: 15px;
    opacity: 0;
}

.playlist-container::-webkit-scrollbar-track {
    background: #00000000;
}

.playlist-container::-webkit-scrollbar-thumb {
    background: #5a5a5a; 
}

.playlist-container::-webkit-scrollbar-thumb:hover {
    background: #888;
}

#playlists a {
    color: #A8A5A4;
    list-style: none;
    text-decoration: none;
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

#playlists a:hover {
    color: #ffffff;
}

