#simpleCard {
    display: inline-block;
    background-color: #181818;
    padding: 20px;
    border-radius: 10px;
    height: 283px;
}

#simpleCard:hover {
    background-color: #2e2e2e;
    cursor: pointer;
}

#simpleCard img {
    width: 160px;
    height: 160px;
}

#simpleCard h3 {
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin-top: 18px;
}

#simpleCard p {
    color: #A8A5A4;
    font-size: 14px;
    margin-top: 5px;
}